extends ../layout

block append css
    link(rel='stylesheet', href='/public/slider-pro/dist/css/slider-pro.min.css')

block append content
    .container
        h1.page-header #{place.name}
            a(href='/places/edit/' + place._id)
                | &nbsp; [Edit]
        p.text-justified #{place.description}

        if (place.images && place.images.length > 0)
            #my-slider.slider-pro
                .sp-slides
                    for image in place.images
                        .sp-slide
                            img.sp-image(src='/uploads/#{image.filename}')
                            p.sp-layer.sp-black.sp-padding(data-width='100%',data-position='bottomLeft')= place.name

            br
            br

block append after_content

    .container
        if (place.comments && place.comments.length > 0)
            for comment in place.comments
                .comment-head2
                    | #{comment._userId.name} at
                    script
                        |  document.write(' ' + moment('#{comment.created}').format('YYYY-MM-DD HH:mm'));
                .comment-body
                    | #{comment.content}

        br
        h3.page-header Add your comment

        .widget-area
            .status-upload
                form(method='post')
                    textarea(placeholder='What do you think about this place?', name='comment', id='comment')
                    button.btn.btn-success.green(type='submit')
                        i.fa.fa-share
                        |  Share

    #map

block append javascripts
    script.
        function initMap() {
            var uluru = {lat: #{place.latitude}, lng: #{place.longitude}};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                draggable: false
            });
        }
    script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAZioyTQoKs3tMMEgnPWNtdxyne15XBCSg&callback=initMap')
    script(src='/public/slider-pro/dist/js/jquery.sliderPro.min.js')
    script(src='/public/javascripts/slider.js')